*,
html,
body {
    margin: 0;
    padding: 0;
    color-scheme: dark light;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
}
div {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
}
h1 {
    font-size: 10vw;
}
