:root {
  --white: #fdfffc; /*bg color */
  --darkblue: #333745; /*complementary color */
  --yellow: #f2a541; /*dark color */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px;
  padding: 0px;
  display: grid;
}

.header,
.portfolio,
.contact,
.about,
.blog,
footer {
  min-height: 150px;
  margin: 0;
}

/* NAVBAR */

nav {
  margin: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  padding: 0 20px;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: background 0.3s ease;
}

.nav-active {
  background-color: var(--darkblue);
  box-shadow: 0 0 15px var(--darkblue);
}

nav h1 {
  color: var(--white);
  padding: 1vw;
  font-size: 25px;
}

.menu-button {
  display: none;
}

nav div ul {
  margin: 0;
  display: flex;
  list-style: none;
}

li a {
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  transition: all 0.5s ease;
}

.link-Active {
  color: var(--yellow);
}

/* HEADER */

.header {
  height: 100vh;
  background-image: url("../img/coding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h3 {
  color: white;
  padding: 0 10vw;
  font-size: 70px;
  margin: 10px 0;
}

#changingWords {
  color: var(--yellow);
}

/* ABOUT */

.about {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.portrait {
  align-self: center;
  height: auto;
  max-width: 70%;
  box-shadow: -15px -15px var(--yellow);
  border: solid thin var(--darkblue);
}

.block-about {
  padding: 5vw 5vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.block-about p {
  text-align: justify;
}

.h2-title-about {
  font-size: 2rem;
}

.block-about h4 {
  margin: 0;
  color: var(--yellow);
}

.tableFocus {
  font-weight: bold;
  border-right: thin solid var(--yellow);
}

table {
  text-align: justify;
}

table tr td {
  padding: 5px;
}

.block-about-full {
  padding: 25px 0;
  display: block;
  background-color: var(--darkblue);
  color: var(--white);
  width: 100vw;
  text-align: center;
}

.block-about-full ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.block-about-full ul li img {
  width: 100px;
  height: auto;
}

/* responsive Side */

@media (max-width: 1023px) {
  /* NAVEGACION MENU */

  .menu-button {
    display: block;
  }

  .menu {
    position: fixed;
    top: 10vh;
    left: 0;
    height: 90vh;
    width: 50vw;
    background-color: var(--darkblue);
    z-index: 990;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-active {
    opacity: 1;
    visibility: visible;
  }

  .menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .menu ul li {
    padding: 15px 0;
  }

  .menu ul li a {
    font-size: 2rem;
  }

  /* HEADER */

  .header h3 {
    font-size: 32px;
  }

  /* ABOUT media query */

  .about {
    display: none;
  }
}
