footer {
        
    padding: 5px  25px;
    margin-top: 45px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: salmon;
    height: 150px;


}


footer div {
    margin: 0px 55px ;
}