section {
    padding: 0px 25px;
    max-width: 100%;

}

article {
    border: 1px solid black;
    padding:15px 40px 35px  40px ;
    box-shadow: 0 0 8px black ;
    width: 450px;
}

@media (max-width: 450px){
    article{
        width: 75%;
    }
}

form {
    display: flex;
    flex-direction: column;
}

form input{
    margin-bottom: 15px;
}

/* CSS especifico de la pagina POKEDEX */

.pokemonSection{
    display: grid;
    justify-content: center;
}

.pokemonImgDiv{
    text-align: center;

}

.pokemonImg{
    height: 250px;
    width: auto;
    margin: 35px 0 ;
    
}

.pokemonDiv {
    display: flex;
    align-items: center;
    height: 35px;

}

.pokemonDiv h4, .pokemonDiv p {
    margin-right: 15px;

}

.pokemonTabla{
    width: 100%;
    border: 1px solid black;
}

