body {
    margin: 0px; 
    padding: 0px;
    font-family: Arial;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: salmon;
}

a:checked {

    text-decoration: none;
    color: salmon;
}

p {
    text-align: justify;
}