body {
  margin: 0px;
  padding: 0px;
  display: grid;
}

.header,
.portfolio,
.contact {
  background-color: #f9f9ff;
  min-height: 150px;
  margin: 0;
}
.about,
.blog,
footer {
  min-height: 150px;
  margin: 0px;
}

.header {
  background-image: url("./img/coding.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* DarkMode Colors */

.dark-1 {
  color: whitesmoke;
  background-color: #1c1d24;
}

.dark-2 {
  color: whitesmoke;
  background-color: #131416;
}
